{% extends "sageks_store/base.html" %}
{% load static %}
{% block title %}Корзина{% endblock %}
{% block content %}
    <h1>Корзина</h1>
    {% if basket.quantity > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>Товар</th>
            <th class="text-center">Количество</th>
            <th class="text-center">Цена за ед.</th>
            <th class="text-center">Стоимость</th>
        </tr>
        </thead>
        <tbody>
        {% for item in basket %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}" class="d-flex text-dark">

                            <img src="{% if product.primary_image %}{{ product.primary_image.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" style="width: 10rem; height: 10rem;">
                            <p class="ms-2">{{ product.name }}</p>
                        </a>
                    </td>
                    <td class="text-center">
<!--                        <a href=""><i class="bi bi-dash text-dark"></i></a>-->
                        {{ item.quantity }}
<!--                        <a href="{% url 'basket_add' product.id %}"><i class="bi bi-plus text-dark"></i></a>-->
<!--                        <input type="hidden" name="path" value="{{ request.path }}" id="id_path">-->
                        <p><a href="{% url 'basket_remove' product.id%}">Удалить</a></p>
                    </td>
                    <td class="num text-center">{{ item.price }} ₽</td>
                    <td class="num text-center">{{ item.total_price }} ₽</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td colspan="3"></td>
            <td class="num text-center">Всего: {{ basket.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="justify-content-end">
        <a href="{% url 'order_create' %}" class="btn btn-primary me-0">Перейти к оформлению</a>
    </p>
    {% else %}
        <h4>Корзина пуста. Добавить товары можно в <a href="{% url 'product_list' %}">каталоге</a>.</h4>
    {% endif %}
{% endblock %}