<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top base-footer">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center text-light">
        <div class="col-md-4 d-flex align-items-center">
            <a href="{% url 'home_page' %}" class="mb-3 me-2 mb-md-0 text-light text-decoration-none lh-1">
                www.sageks.ru
            </a>
            <span class="mb-3 mb-md-0">© 2022 Интернет-магазин Sageks</span>
        </div>
        <!-- Social media footer -->
        <!--        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">-->
        <!--            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>-->
        <!--            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>-->
        <!--            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>-->
        <!--        </ul>-->
        <div class="justify-content-end d-flex"><span class="me-5">Разработка сайта <a href="https://vk.com/alekseybeliyoff" class="text-light">Aleksey Beliy</a></span></div>
        </div>
    </div>
</footer>