<nav class="py-2 border-bottom base-nav">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{% url 'home_page' %}" class="nav-link link-light px-2" aria-current="page">Главная</a></li>
            <li class="nav-item"><a href="{% url 'order_status' %}" class="nav-link link-light px-2">Статус заказа</a></li>
            <li class="nav-item"><a href="{% url 'home_page' %}" class="nav-link link-light px-2">Контакты</a></li>
        </ul>
        <ul class="nav base-nav-contact text-light">
<!--                <li class="nav-item"><a href="#" class="nav-link link-light px-2">Вход</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link link-light px-2">Регистрация</a></li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="" class="cart position-relative d-inline-flex" aria-label="View your shopping cart">-->
<!--                        <span class="cart-basket d-flex align-items-center justify-content-center">-->
<!--                            0-->
<!--                        </span>-->
<!--                    </a>-->
<!--                </li>-->
        </ul>
    </div>
</nav>